body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer{
    background-color: #c1c1c1;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 50px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    padding: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.intro{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 100%;
    padding: 10px;
}

div img{
    height: 500px;
}

.picture{
    width: 90%;
}

p, li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

